.row {
max-width : 85rem;
margin-right : auto;
margin-left : auto;
}
.row::before, .row::after {
display : table;
content : " ";
flex-basis : 0;
}
.row::after {
clear : both;
}
.row.collapse > .column {
padding-right : 0;
padding-left : 0;
}
@media print, screen and (min-width: 48em) {
.medium-1 {
width : 8.3333333333%;
}
.medium-push-1 {
position : relative;
left : 8.3333333333%;
}
.medium-pull-1 {
position : relative;
left : -8.3333333333%;
}

.large-pull-3 {
position : relative;
left : -25%;
}

.large-pull-4 {
position : relative;
left : -33.3333333333%;
}
.large-offset-3 {
margin-left : 25%;
}
.large-5 {
width : 41.6666666667%;
}

.large-pull-5 {
position : relative;
left : -41.6666666667%;
}
.large-offset-4 {
margin-left : 33.3333333333%;
}
.large-6 {
width : 50%;
}
.large-push-6 {
position : relative;
left : 50%;
}

.large-push-8 {
position : relative;
left : 66.6666666667%;
}
.large-pull-8 {
position : relative;
left : -66.6666666667%;
}
.large-offset-7 {
margin-left : 58.3333333333%;

}
.large-up-2 > .column {
float : left;
width : 50%;
}
.large-up-2 > .column:nth-of-type(1n) {
clear : none;
}

*, *:before, *:after {
box-sizing : border-box;
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, li, form, legend, label, table, header, footer, nav, section, figure {
margin : 0;
padding : 0;
}
html, body {
height : 100%;
min-height : 100%;
}
header, footer, nav, section, article, hgroup, figure {
display : block;
}
picture {
display : inline-block;
}
ol, ul {
margin : 0;
padding-left : 1.5rem;
}
p {
margin : 1.5rem 0;
padding : 0;
}
hr {
border-top : 1px solid #000;
margin : 2rem 0;
}
a {
cursor : pointer;
}
[tabindex]:not([tabindex^="-"]), label[for] {
cursor : pointer;
}
[tabindex]:not([tabindex^="-"]):focus {
border-color : #000;
box-shadow : 0 0 5px rgb(0, 0, 0, 0.5);
}
select:-moz-focusring {
color : rgb(0, 0, 0, 0) !important ;
text-shadow : 0 0 0 #000;
}
select:focus::-ms-value {
background : rgb(0, 0, 0, 0);
color : inherit;
}
.sticky {
transform : none;
}
html.is-reveal-open {
overflow : visible;
height : auto;
}
html, body {
font-size : 16px;
}
body {
font-family : "Tiempos", Georgia, serif;
font-weight : 400;
line-height : 1.7;
color : #000;
overflow-x : hidden;
}
img {
max-width : 100%;
font-size : 0;
line-height : 0;
}
.img-overlay {
position : absolute;
bottom : 0;
right : 0;
background-color : rgb(0, 0, 0, 0.5);
padding : 0.625rem;
}
.img-overlay-container {
position : relative;
height : inherit;
}
.img-overlay-text {
color : #fff;
font-size : 0.9375rem;
margin : 0;
line-height : 1.375;
font-weight : 400;
font-family : "Graphik";
padding-right : 0.625rem;
}
@media (min-width: 768px) {
.img-overlay-text.rectangleImage {
display : unset;
}
.img-overlay-text.squareImage {
display : none;
}
}
@media (min-width: 110px) and (max-width: 768px) {
.img-overlay-text.rectangleImage {
display : none;
}
}
svg:not(:root) {
height : 100%;
}
iframe {
max-width : 100%;
width : 100%;
}
p, li {
font-size : 1.125rem;
}
a:focus, input:focus, button:focus, select:focus, textarea:focus, [tabindex]:not([tabindex^="-"]):focus {
outline : none;
}
a:disabled, input:disabled, button:disabled, select:disabled, textarea:disabled, [tabindex]:not([tabindex^="-"]):disabled {
cursor : not-allowed;
}
a img {
border : 0;
}
a, input[id] + label[for], button {
transition : color 200ms, border-color 200ms, background-color 200ms;
}
ul {
padding-left : 0;
}
ul li {
list-style-type : none;
padding-left : 1rem;
}
ul li:before {
content : "Ã¢â¬Â¢";
font-size : 1.125rem;
display : inline-block;
vertical-align : baseline;
margin-left : -1rem;
width : 1rem;
color : #000;
}
.rte > ul li, .rte > div:not([class]) > ul li {
position : relative;
}
.rte > ul li:before, .rte > div:not([class]) > ul li:before {
left : 0;
margin-left : 0;
position : absolute;
}
ul li:before {
line-height : 1.7em;
}
[dir="rtl"] ul li {
padding-left : 0;
padding-right : 1rem;
}
[dir="rtl"] ul li:before {
margin-left : 0;
margin-right : -1rem;
}
ul li > ul {
padding-left : 2rem;
}
[dir="rtl"] ul {
padding-left : 0;
padding-right : 0;
}
.active-modal-body {
position : fixed;
width : 100%;
}
.bain-code-embed:after {
clear : both;
content : "";
display : table;
}
table[width="100%"][style="background-color:#f5f6f8; border-collapse: collapse;"] {
display : none;
}
@media print {
aside {
display : none !important ;
}
}
@media (max-width: 1080px) {
.showDesktopTitle {
display : none !important ;
}
.showMobileTitle {
display : block !important ;
}
}
@media (min-width: 1081px) {
.showMobileTitle {
display : none !important ;
}
.showDesktopTitle {
display : block !important ;
}
.hero-325px {
min-height : 20.3125rem;
max-height : 20.3125rem;
}
}
.sortable-item .card__wrapper {
border : none;
}
.sortable-item .card__footer {
justify-content : flex-end;
}
.full-width-content {
width : 100vw;
position : relative;
left : 50%;
right : 50%;
margin-left : -50vw;
margin-right : -50vw;
padding : 0;
}
.small-width-content {
max-width : 62.5rem;
display : block;
margin-right : auto;
margin-left : auto;
}
.truste-close-button {
border-bottom : none;
}
.slick-slider {
touch-action : auto !important ;
}
#module-spacer tr {
border : none;
}
.header-underline {
display : inline-block;
position : relative;
}
.header-underline:after {
background : url(../images/icons/underline.svg);
background-position : center right;
background-repeat : no-repeat;
background-size : cover;
border-bottom-left-radius : 0.625rem;
border-bottom-right-radius : 0.625rem;
bottom : -0.25rem;
content : "";
height : 0.875rem;
left : 0;
position : absolute;
right : 0;
z-index : -1;
}
#consent_blackbar {
z-index : 99999 !important ;
}
@media (max-width: 767px) {
.showMobileOnly {
display : block;
}
.showTablet {
display : none !important ;
}
}
@media (min-width: 768px) {
.showMobileOnly {
display : none !important ;
}
}
@media (min-width: 1081px) {
.showMobileTabletOnly {
display : none !important ;

}
@media (max-width: 1080px) {
.showDesktopOnly {
display : none !important ;
}

}
.icon-plus-circle {
transition : color 200ms;
}
.slick-list {
position : relative;
overflow : hidden;
display : block;
margin : 0;
padding : 0;
}
.slick-list:focus {
outline : none;
}
.slick-list.dragging {
cursor : pointer;
}
.slick-slider .slick-track, .slick-slider .slick-list {
transform : translate3d(0,0,0);
}
.slick-track {
position : relative;
left : 0;
top : 0;
display : block;
margin-left : auto;
margin-right : auto;
}
.slick-track:before, .slick-track:after {
content : "";
display : table;
}
.slick-track:after {
clear : both;
}
.slick-loading .slick-track {
visibility : hidden;
}
.slick-slide {
float : left;
height : 100%;
min-height : 1px;
display : none;
}
[dir="rtl"] .slick-slide {
float : right;
}
.slick-slide img {
display : block;
}
.slick-slide.slick-loading img {
display : none;
}
.slick-slide.dragging img {
pointer-events : none;
}
.slick-initialized .slick-slide {
display : block;
}
.slick-loading .slick-slide {
visibility : hidden;
}
.slick-vertical .slick-slide {
display : block;
height : auto;
border : rgb(0, 0, 0, 0) solid 1px;
}
.slick-arrow.slick-hidden {
display : none;
}
.focus-only, .sr-only {
position : absolute;
left : -10000px;
top : auto;
width : 1px;
height : 1px;
overflow : hidden;
}
[dir="rtl"] .focus-only, [dir="rtl"] .sr-only {
left : auto;
right : -10000px;
}
.focus-only:focus {
position : static;
width : auto;
height : auto;
}
.left {
float : left;
}
.right {
float : right;
}
.centered {
text-align : center;
}
.hidden {
display : none;
}
.content-align p {
text-align : left;
}
.content-align h2 {
text-align : center;
}
.small-up-1 {
display : flex;
flex-wrap : wrap;
min-width : 100%;
}
.small-up-1:after {
display : none;
}

.small-up-8 {
display : flex;
flex-wrap : wrap;
min-width : 100%;
}
.small-up-8:after {
display : none;
}
.small-up-8 > .column {
float : none;
flex : 0 0 12.5%;
max-width : 12.5%;
margin-top : 1.125rem;
}
.small-up-8 > .column:nth-child(-1n+8) {
margin-top : 0;
}
ul.small-up-8 li:before {
content : none;
}
strong, b {
font-weight : 600;
}
a {
text-decoration : none;
line-height : 0;
border-bottom : 1px solid #c00;
color : #000;
}
a:focus-visible {
outline : 1px dotted #c00;
outline-offset : 0.3125rem;
}
a:hover, a.active, a:focus {
color : #c00;
border-bottom-color : rgb(0, 0, 0, 0);
}
figcaption, figcaption p {
color : #636363;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 0.9375rem;
margin-top : 0.5rem;
margin-bottom : 0;
}
.textlink {
cursor : pointer;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
}
.textlink--careers {
border-bottom : 1px solid #bb271a;
}
.textlink--careers:hover, .textlink--careers.active, .textlink--careers:focus {
color : #902928;
}
.textlink--secondary:hover, .textlink--secondary:focus {
color : #c00;
}

h1, h2, h3, h4, h5, h6 {
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-weight : 500;
}
h1 {
font-size : 2.375rem;
line-height : 1.066;
}
h2 {
font-size : 2.125rem;
line-height : 1.2;
}
h3 {
font-size : 1.75rem;
line-height : 1.375;
}
h3 small {
color : #767676;
font-size : 0.56em;
font-weight : 400;
line-height : 1.44;
}
h4 {
font-size : 1.3125rem;
line-height : 1.333;
}
h5 {
font-size : 1.125rem;
line-height : 1.222;
}

table th, .table th {
color : #000;
font-weight : 400;
}
.hscroll {
overflow-y : hidden;
overflow-x : scroll;
}
.hscroll__wrap {
overflow : hidden;
}
.spinner {
display : none;
text-align : center;
font-size : 0;
line-height : 0;
}

.external-link span {
position : absolute;
bottom : 0.125rem;
font-size : 1.25rem;
}
.adapt-select {
font-family : "Graphik";
border : #d8d8d8 solid 1px;
box-shadow : none;
height : 3.75rem;
line-height : 1.44;
margin : 0;
color : #979797;
background : #f5f5f5;
border-radius : 4px;
position : relative;
}

.section__heading, section__heading {
color : #c00;
font-weight : 500;
margin-bottom : 1rem;
padding-top : 1rem;
}
.section__heading--secondary, section__heading--secondary {
color : #000;
}
.section__midline-heading, section__midline-heading {
margin-top : 3rem;
margin-bottom : 2rem;
display : flex;
align-items : center;
display : flex;
align-items : center;
width : 100%;
}
.section__midline-heading:before, .section__midline-heading:after, section__midline-heading:before, section__midline-heading:after {
flex-grow : 1;
content : "";
display : block;
border-top : 1px solid #d8d8d8;
}
.section__midline-heading h3, section__midline-heading h3 {
padding : 0 1.5rem;
}
.section__midline-heading h3, section__midline-heading h3 {
display : block;
max-width : 80%;
text-align : center;
}
.section__midline-heading:before, .section__midline-heading:after, section__midline-heading:before, section__midline-heading:after {
flex-grow : 1;
content : "";
display : block;
border-top : 1px solid #d8d8d8;
}

.accordion--list .accordion-content ol li {
list-style-type : auto;
}


.list--related-lists {
border-top : 1px solid #d8d8d8;
border-bottom : 1px solid #d8d8d8;
margin : 0;
padding : 0;
list-style-type : none;
font-size : 0.9375rem;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
padding : 1rem 0 0;
}
.list--related-lists li, [dir="rtl"] .list--related-lists li {
padding : 0;
}
.list--related-lists li:before, [dir="rtl"] .list--related-lists li:before {
content : "";
display : none;
margin : 0;
width : auto;
}
.list--related-lists li {
padding : 0 0 1rem;
}
.list--related-lists li b {
display : table;
}
.list--product-list {
margin : 0;
padding : 0;
list-style-type : none;
font-size : 0.9375rem;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
padding : 1rem 0 0;
}
.list--product-list li, [dir="rtl"] .list--product-list li {
padding : 0;
}
.list--product-list li:before, [dir="rtl"] .list--product-list li:before {
content : "";
display : none;
margin : 0;
width : auto;
}
.list--product-list li {
display : table;
padding : 0 0 1rem;
}
.list--product-list li b {
display : table;
}
.list--product-list li div {
display : table-cell;
vertical-align : middle;
padding-left : 1rem;
}

.hero {
float : none;
padding-top : 1.5rem;
position : relative;
margin-bottom : 1rem;
}
.hero__image {
height : 14.375rem;
left : -50vw;
margin-left : 50%;
max-width : none;
overflow : hidden;
position : absolute;
top : 0;
width : 100vw;
z-index : -1;
}
.hero__image img, .hero__image picture, .hero__image video {
height : 100%;
max-width : none;
object-fit : cover;
width : 100%;
}
.ie .hero__image.object-fit-polyfill video, .ie .hero__image .video-js video {
visibility : visible;
}
.ie .hero__image video {
visibility : hidden;
}
.hero__carousel {
visibility : hidden;
background : #000;
}
.hero__carousel.slick-initialized, .hero__carousel.slick-initialized.mobile-carousel {
bottom : 1.5rem;
height : 100%;
left : -50vw;
margin-left : 50%;
max-width : none;
position : relative;
top : 0;
width : 100vw;
visibility : visible;
background : rgb(0, 0, 0, 0);
}
.hero__scroll-indicator {
animation : scrollindicator 2s 5;
bottom : 1rem;
position : absolute;
left : 50%;
transform : translateX(-50%);
text-align : center;
}
.hero__scroll-indicator .icon-chevron-down {
color : #fff;
display : block;
font-size : 0.68rem;
height : 2.5rem;
line-height : 2.5rem;
opacity : 0.9;
text-align : center;
width : 2.5rem;
}
.hero__scroll-text {
display : none;
color : #fff;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 0.8125rem;
margin-bottom : 0.5rem;
opacity : 0.7;
}


.hero--standard-image .hero__image img, .hero--standard-image .hero__image picture, .hero--standard-image .hero__image video {
height : 100%;
max-width : none;
object-fit : cover;
width : 100%;
}
.hero--standard-image .true-north-logo {
position : absolute;
bottom : 0;
right : 0;
width : 50px;
height : 40px;
}
.hero--full-bleed {
bottom : 0;
height : 100%;
left : -50vw;
margin-left : 50%;
max-width : none;
padding-top : 0;
top : 0;
width : 100vw;
}
.hero--full-bleed p {
text-align : center;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 1.3125rem;
color : #000;
line-height : 1.44;
margin-bottom : 2rem;
}
.hero--full-bleed .hero__text-content {
text-align : center;
}
.hero--full-bleed .hero__text-content.row.column {
margin : 0 auto;
}
.hero--full-bleed .hero__text-content a {
display : inline-block;
color : #000;
line-height : 1.44;
border-bottom : none;
}
.hero--full-bleed .hero__text-content a:hover, .hero--full-bleed .hero__text-content a:focus {
color : #000;
}
.hero--full-bleed .hero__text-content a h1 {
display : inline-block;
}
.hero--full-bleed .hero__text-content a h1:after {
font-family : "bainicon" !important ;
speak : none;
font-style : normal;
font-weight : normal;
font-variant : normal;
text-transform : none;
line-height : 1;
content : "Ã®Â¥Â¨";
font-size : 7px;
position : relative;
left : 0.75rem;
top : -0.25rem;
transition : left 200ms;
}
.hero--full-bleed .hero__text-content a h1:after {
font-size : 1rem;
left : 0.25rem;
}
.hero--full-bleed .hero__text-content a h1.hero__title--small:after {
top : 0;
}
.hero--full-bleed .hero__text-content a:hover h1:after {
left : 0.75rem;
}
.hero--full-bleed .hero__slide {
align-items : center;
display : flex !important ;
justify-content : center;
min-height : 21.25rem;
padding : 2.5rem 1.125rem;
position : relative;
}
.hero--full-bleed .hero__mobile-overlay-container {
padding : 2.5rem 1.5rem;
position : relative;
top : -2.5rem;
width : 90%;
margin : auto;
background : #fff;
}
.hero--full-bleed .hero__mobile-overlay-container .hero__subtitle {
color : #000;
}
.hero--full-bleed .hero__image {
bottom : 0;
height : 100%;
top : 0;
}
.hero--full-bleed .hero__title--small {
font-size : 1.75rem;
}
.hero--full-bleed .hero__title, .hero--full-bleed .hero__subtitle {
background-color : rgb(0, 0, 0, 0);
color : #fff;
padding-bottom : 0;
}
.hero--full-bleed .hero__subtitle {
max-width : 62.5rem;
margin : auto auto 1.5rem auto;
font-size : 1.25rem;
}
.hero--full-bleed .hero__carousel.slick-initialized .slick-dots {
background : #fff;
bottom : 0;
left : 50%;
padding : 0.75rem 1.25rem;
margin : 0;
position : absolute;
transform : translateX(-50%);
}
.hero--full-bleed .hero__nav-container {
display : none;
}
.hero__submission {
max-width : 62.5rem;
margin-left : auto;
margin-right : auto;
display : flex;
flex-direction : column;
margin-top : 2.5rem;
}
.hero__submission input {
height : 3.4375rem;
text-align : start;
}
.hero .slick-slide .hero__text-content {
opacity : 0;
transition : opacity 1s ease-in;
visibility : hidden;
}
.hero .slick-active .hero__text-content {
opacity : 1;
visibility : visible;
}
.hero--full-bleed-carousel {
padding-top : 0;
}
.hero--full-bleed-carousel .mobile-carousel {
clear : both;
}
.hero--full-bleed-carousel .slick-slide .hero__text-content {
opacity : 1;
visibility : visible;
}
.hero--full-bleed-carousel .slick-slide .hero__fade-container {
opacity : 0;
transition : opacity 1s ease-in;
visibility : hidden;
}
.hero--full-bleed-carousel .slick-active .hero__fade-container {
opacity : 1;
visibility : visible;
}
.hero--full-bleed-carousel p {
margin-bottom : 2rem;
}
.hero--full-bleed-carousel .hero__text-content {
color : #fff;
text-align : center;
}
.hero--full-bleed-carousel .hero__text-content a {
display : inline-block;
color : #000;
line-height : 1.44;
border-bottom : none;
}
.hero--full-bleed-carousel .hero__text-content a:hover, .hero--full-bleed-carousel .hero__text-content a:focus {
color : #000;
}
.hero--full-bleed-carousel .hero__text-content a h1 {
display : inline-block;
}
.hero--full-bleed-carousel .hero__text-content a h1:after {
font-family : "bainicon" !important ;
speak : none;
font-style : normal;
font-weight : normal;
font-variant : normal;
text-transform : none;
line-height : 1;
content : "Ã®Â¥Â¨";
font-size : 7px;
position : relative;
left : 0.75rem;
top : -0.25rem;
transition : left 200ms;
}
.hero--full-bleed-carousel .hero__text-content a h1:after {
font-size : 1rem;
left : 0.25rem;
}
.hero--full-bleed-carousel .hero__text-content a h1.hero__title--small:after {
top : -0.125rem;
font-size : 0.875rem;
}
.hero--full-bleed-carousel .hero__text-content a:hover h1:after {
left : 0.75rem;
}
.hero--full-bleed-carousel .hero__slide {
align-items : center;
display : flex !important ;
justify-content : center;
min-height : 21.25rem;
padding : 2.5rem 1.125rem;
}
.hero--full-bleed-carousel .hero__slide--align-bottom {
align-items : flex-end;
}
.hero--full-bleed-carousel .hero__title {
color : #fff;
}
.hero--full-bleed-carousel .hero__title--small {
font-size : 2rem;
}
.hero--full-bleed-carousel .hero__image {
bottom : 0;
height : 100%;
top : 0;
}
.hero--full-bleed-carousel .hero__description {
color : #fff;
max-width : 62.5rem;
margin : auto;
font-weight : 500;
}
.hero--full-bleed-carousel .hero__description p {
font-size : 1.25rem;
}
.hero--full-bleed-carousel .slick-dots {
position : absolute;
bottom : 0.5rem;
}
.hero--full-bleed-carousel--nav-bar ul.slick-dots {
bottom : 0.75rem;
position : absolute;
}
.hero--full-bleed-carousel--nav-bar ul.slick-dots li button:before, .hero--full-bleed-carousel--nav-bar ul.slick-dots li.slick-active button:before {
height : 3px;
width : 100%;
}
.hero--full-bleed-carousel--nav-bar ul.slick-dots li button {
padding : 0;
width : 135px;
}
.hero--full-bleed-carousel--nav-bar ul.slick-dots li button:hover {
cursor : auto;
}
.hero--full-bleed-carousel--nav-bar .slick-arrow {
display : none;
}
.hero--anchor-bottom .hero__title {
margin-bottom : 1rem;
}
.hero--anchor-bottom .hero__slide {
align-items : flex-end;
min-height : 21.25rem;
}
.hero--contained {
height : 100%;
left : 0;
margin-left : 0;
margin-top : 1.5rem;
max-width : initial;
width : 100%;
}
.hero--contained .hero__image {
left : 0;
margin-left : 0;
max-width : none;
position : absolute;
right : 0;
top : 0;
width : 100%;
z-index : -1;
}
.hero--contained .hero__image img, .hero--contained .hero__image picture, .hero--contained .hero__image video {
height : 100%;
max-width : none;
object-fit : cover;
width : 100%;
}
.hero--hub {
margin-bottom : 0;
padding-top : 9.0625rem;
}
.hero--hub .hero__text-content {
margin-bottom : 1.25rem;
width : 100%;
position : static;
}
.hero--hub .hero__description {
display : block;
padding-right : 0;
}
.hero--hub .hero__title-wrap {
background-color : #fff;
border-top : 3px solid #c00;
padding : 2.5rem 2rem 2rem;
}
.hero--hub .hero__title {
font-size : 2.125rem;
padding-bottom : 1.5rem;
}
.hero--hub .hero__tag {
font-size : 1rem;
margin-bottom : 1rem;
}
.hero--hub .hero__data-list {
display : none;
border-top : 1px solid #d8d8d8;
margin-bottom : 0;
padding-right : 0;
padding-top : 1.5rem;
}
.hero--hub .hero__data-item {
display : block;
margin-top : 0.75rem;
vertical-align : middle;
}
.hero--hub .hero__data-item:before {
content : none;
}
.hero--hub .hero__data-item:first-child {
margin-top : 0;
}
.hero--hub .hero__image {
bottom : auto;
height : 14.375rem;
}
.hero--hub-revamp {
padding : 2.3125rem 0 0;
margin-bottom : 2.5rem;
}
.hero--hub-revamp video {
width : 100%;
height : 100%;
object-fit : cover;
}
.hero--hub-revamp.hero--hub-capability {
background : #000;
color : #fff;
}
.hero--hub-revamp.hero--hub-capability .hero__tag, .hero--hub-revamp.hero--hub-capability .hero__description p {
color : #fff;
}
.hero--hub-revamp.hero--hub-capability:before {
content : "";
display : block;
position : absolute;
top : 0;
left : 50%;
margin-left : -50vw;
width : 100vw;
height : 100%;
background-color : #000;
z-index : -1;
}
.hero--hub-revamp .hero__title {
padding-bottom : 0;
font-weight : 500;
}
.hero--hub-revamp .hero__title p {
font-size : 0.9375rem;
line-height : 1.4;
margin-bottom : 15px;
padding-bottom : 0.9375rem;
}
.hero--hub-revamp .hero__title h1 {
font-size : 2rem;
line-height : 1.25;
margin-bottom : 1.125rem;
}
.hero--hub-revamp .hero__description p {
font-size : 1rem;
font-weight : 400;
line-height : 1.5;
color : #717171;
margin-bottom : 1rem;
}
.hero--hub-no-image {
padding-bottom : 0;
padding-top : 1.5rem;
}
.hero--hub-no-image .hero__title-wrap {
background-color : rgb(0, 0, 0, 0);
border-top : none;
padding : 0;
position : relative;
}
.hero--hub-no-image .hero__title {
padding-bottom : 1.5rem;
}
.hero--hub-no-image .hero__title h1 {
padding-top : 2.5rem;
}
.hero--hub-no-image .hero__tag {
font-size : 1rem;
margin-bottom : 1rem;
}
.hero--hub-no-image .hero__tag + h1 {
padding-top : 0;
}
.hero--hub-no-image .hero__description {
display : block;
}
.hero--hub-no-image .hero__description, .hero--hub-no-image .hero__description p {
color : #000;
font-family : "Tiempos", Georgia, serif;
font-size : 1.75rem;
margin-bottom : 2rem;
}
.hero--hub-no-image .hero__description em {
color : #c00;
}
.hero--office {
padding-top : 9.0625rem;
}
.hero--office .hero__data-item [class^="icon"] {
color : #c00;
display : inline-block;
font-size : 0.8125rem;
line-height : 0;
margin-right : 0.25rem;
vertical-align : middle;
}
.hero--office .hero__image {
bottom : auto;
height : 14.375rem;
}
.hero--office .hero__data-list {
display : block;
}
.hero.multi--office .hero__title-wrap {
border-top : 4px solid #c00;
}
.hero.multi--office .hero__contact-container {
display : flex;
justify-content : flex-start;
align-items : flex-start;
gap : 1.23125rem;
}
.hero.multi--office .hero__contact-icon-wrap a {
border-bottom : 0;
}
.hero.multi--office .hero__contact-icon-wrap .icon-location-pin-alt:before {
font-size : 1.75rem;
line-height : 1.3;
color : #c00;
}
.hero.multi--office .hero__contact-info-wrap {
display : flex;
flex-direction : column;
justify-content : space-between;
align-items : start;
gap : 0.7rem;
}
.hero.multi--office .hero__contact-info-wrap .hero__address p {
font-weight : 400;
font-size : 1rem;
line-height : 1.5rem;
}
.hero.multi--office .hero__contact-info-wrap .hero__directions-list {
display : flex;
flex-wrap : wrap;
gap : 1rem;
margin-bottom : 0.3125rem;
font-weight : 500;
font-size : 1rem;
line-height : 1.125rem;
}
.hero.multi--office .hero__contact-info-wrap .hero__directions-list .textlink {
font-size : 1rem;
}
.hero.multi--office .accordion--list {
margin-top : 1rem;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-title {
font-weight : 500;
font-size : 0.9375rem;
line-height : 1.3125rem;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-title:focus {
background-color : inherit;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content {
padding-left : 0;
background-color : inherit;
padding-bottom : 0;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container {
gap : 0.625rem;
font-size : 0.875rem;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .icon-location-pin-alt:before {
font-size : 1.375rem;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .hero__contact-info-wrap {
margin-bottom : 0.375rem;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .hero__contact-info-wrap .hero__address {
width : 100%;
max-height : 5rem;
overflow-y : auto;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .hero__contact-info-wrap .hero__address.accordion-address p {
font-weight : 400;
font-size : 0.875rem;
line-height : 1.25rem;
color : #333;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .hero__contact-info-wrap .hero__directions-list.accordion-directions {
gap : 0.75rem;
}
.hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .hero__contact-info-wrap .hero__directions-list.accordion-directions .textlink--cta-dark, .hero.multi--office .accordion--list .accordion .accordion-item .accordion-content .hero__contact-container .hero__contact-info-wrap .hero__directions-list.accordion-directions .textlink--cta {
line-height : 1.125rem;
font-size : 0.875rem;
}
.hero--profile {
display : flex;
flex-wrap : wrap;
margin-bottom : 0;
padding-bottom : 0;
padding-top : calc(100vw * 0.5626);
}
.hero--profile.hero--profile-small-image {
padding-right : 1.125rem;
padding-left : 1.125rem;
}
.hero--profile.hero--profile-small-image .hero__title-wrap {
padding-right : 0;
padding-left : 0;
}
.hero--profile.hero--profile-review.js-banner-space {
margin-top : 15.625rem;
}
.hero--profile .hero__text-content {
margin-bottom : 0;
position : static;
width : 100%;
margin-top : 1.25rem;
}
.hero--profile .hero__image {
height : 56.25vw;
}
.hero--profile .hero__title {
background : rgb(0, 0, 0, 0);
padding-bottom : 0.5rem;
}
.hero--profile .hero__profile-office {
color : #767676;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 1.3125rem;
margin : 0 0 1rem;
}
.hero--profile .hero__profile-location {
text-decoration : underline;
border-bottom : none;
color : #767676;
}
.hero--profile .hero__profile-location:hover, .hero--profile .hero__profile-location:focus {
color : #9d1b22;
text-decoration : none;
}
.hero--profile .hero__social-links {
margin-bottom : 1rem;
}
.hero--profile .hero__social-links .social-links__item {
margin-left : 1rem;
}
.hero--profile .hero__social-links .social-links__item:first-child {
margin-left : 0;
}
.hero--profile .hero__social-links .social-links__link {
color : #979797;
font-size : 1.5rem;
transition : color 200ms;
}
.hero--profile .hero__social-links .social-links__link:hover, .hero--profile .hero__social-links .social-links__link:focus {
color : #c00;
}
.hero--profile .hero__social-links .social-links__link .icon-twitter {
font-size : 1.125rem;
}
.hero--profile .hero__description {
background : rgb(0, 0, 0, 0);
padding-right : 0;
}
.hero--profile .hero__description, .hero--profile .hero__description p {
font-size : 1.125rem;
margin-bottom : 1rem;
color : #424242;
}
.hero--profile.hero--with-dark-styles .hero {
transition : all 200ms;
}
.hero--profile.hero--with-dark-styles .hero__profile-office {
color : #000;
font-weight : 500;
display : inline;
}
.hero--profile.hero--with-dark-styles .hero__profile-office .hero__social-links {
display : inline-block;
}
.hero--profile.hero--with-dark-styles .hero__office-with-social {
display : inline-block;
white-space : nowrap;
}
.hero--profile.hero--with-dark-styles .hero__office-with-social > a {
margin-right : 0.625rem;
font-family : "Graphik";
color : #000;
font-weight : 500;
font-size : 1.3125rem;
}
.hero--profile.hero--with-dark-styles .hero__profile-location {
text-decoration : none;
border-bottom : 2px solid #c00;
color : #000;
}
.hero--profile.hero--with-dark-styles .hero__profile-location:hover, .hero--profile.hero--with-dark-styles .hero__profile-location:focus {
border-bottom-color : rgb(0, 0, 0, 0);
color : #c00;
}
.hero--profile.hero--with-dark-styles .hero__social-links {
display : inline-block;
}
.hero--profile.hero--with-dark-styles .hero__social-links .social-links__link {
color : #000;
}
.hero--profile-small-image {
padding-bottom : 0;
padding-top : 1.5rem;
}
.hero--profile-small-image .hero__text-content {
order : 1;
}
.hero--profile-small-image .hero__image {
height : 207px;
order : 0;
margin : 0 0 0.75rem;
padding-bottom : 0;
position : static;
width : 220px;
}
.hero--profile-small-image .hero__image img, .hero--profile-small-image .hero__image picture, .hero--profile-small-image .hero__image video {
position : relative;
}
.hero--profile-wide-image {
display : block;
}
.hero--profile-no-image.hero--profile {
min-height : 13rem;
max-width : 85rem;
margin-left : auto;
margin-right : auto;
padding-top : 3.125rem;
}
.hero--profile-no-image.hero--profile .hero__image {
display : none;
}
.hero--right-align .hero__title {
margin-bottom : 0;
padding-bottom : 0;
}
.hero__rte-content, .hero__rte-content p, .hero__rte-content li {
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 1rem;
line-height : 1.44;
}
.hero__rte-content p {
margin : 1rem 0;
}
.hero__tag {
color : #c00;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 1.125rem;
font-weight : 400;
margin : 0;
padding-bottom : 0.25rem;
}
.hero__title {
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-weight : 500;
padding-bottom : 0.75rem;
word-break : keep-all;
}
.hero__description {
color : #000;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
line-height : 1.44;
margin : 0 0 1.5rem;
}
.hero__description p {
font-size : 1.125rem;
line-height : 1.44;
}
.hero__description p:first-child {
margin-top : 0;
}
.hero__byline {
margin-bottom : 0.25rem;
margin-top : 0;
}
.hero__byline-social {
margin-top : 1.5rem;
display : flex;
align-items : center;
}
.hero__byline-social .hero__data-list {
margin : 0;
}
.hero__byline-social .action-links {
display : flex;
justify-content : end;
}
.hero__data-list {
display : block;
list-style : none;
margin : 0 0 1.5rem 0;
}
.hero__data-item, .hero__byline {
color : #767676;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 0.9375rem;
}
.hero__data-item {
display : inline-block;
padding : 0;
}
.hero__data-item:first-child:before {
content : none;
}
.hero__data-item:before {
content : "Ã¢â¬Â¢";
color : #767676;
display : inline-block;
margin : 0 0.5rem;
text-align : center;
width : auto;
}
.hero__address, .hero__address p {
color : #424242;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 1rem;
line-height : 1.44;
margin-bottom : 0.5rem;
margin-top : 0;
}
.hero__contact-list {
line-height : 1.7;
margin : 0;
padding : 0;
list-style-type : none;
margin-bottom : 1rem;
}
.hero__contact-list li, [dir="rtl"] .hero__contact-list li {
padding : 0;
}
.hero__contact-list li:before, [dir="rtl"] .hero__contact-list li:before {
content : "";
display : none;
margin : 0;
width : auto;
}
.hero__contact-item, .hero__contact-item a {
color : #424242;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 1rem;
line-height : 1.44;
}
.hero__contact-item a {
border-bottom : none;
}
.hero__directions-link {
margin-bottom : 1rem;
}
.hero__directions-link .textlink {
font-size : 0.875rem;
}
.hero--featured-row-full {
padding : 0;
padding-top : 23.4375rem;
}
.hero--featured-row-full > a {
display : flex;
flex-flow : row wrap;
border-bottom : none;
line-height : initial;
width : 100%;
}
.hero--featured-row-full > a:hover, .hero--featured-row-full > a:focus {
color : inherit;
}
.hero--featured-row-full .hero__text-content {
order : 2;
}
.hero--featured-row-full .hero__image {
height : 23.4375rem;
}
.hero--featured-row-full .hero__title-wrap {
border-top : none;
padding : 0.75rem;
}
.hero--featured-row-full .hero__tag {
padding-top : 0.25rem;
padding-bottom : 0.5rem;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-weight : 500;
color : #c00;
font-size : 0.8125rem;
margin : 0;
}
.hero--featured-row-full .hero__title {
font-size : 1.75rem;
}
.hero--featured-row-full .hero__tag, .hero--featured-row-full .hero__title {
padding-bottom : 0.75rem;
}
.hero--featured-row-full .hero__description {
display : block;
font-family : "Tiempos";
}
.hero--featured-row-full .hero__description p {
font-size : 1rem;
}
.hero--featured-row-full .hero__bottom-info ul {
color : #767676;
display : inline-block;
}
.hero--featured-row-full .hero__bottom-info ul li {
display : inline-block;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 0.8125rem;
padding-right : 0.5rem;
}
.hero--featured-row-full .hero__bottom-info ul li:before {
font-size : 0.8125rem;
}
.hero--featured-row-full .hero__bottom-info ul li:first-child {
padding-left : 0;
}
.hero--featured-row-full .hero__bottom-info ul li:first-child::before {
content : "";
font-size : 0.8125rem;
}
.hero--featured-row-full .hero__bookmark {
display : inline-block;
float : right;
border-bottom : none;
position : relative;
top : 0.25rem;
color : #979797;
}
.hero--featured-row-full .hero__bookmark.has-tip {
cursor : pointer;
}
.hero--homepage {
display : inline-block;
min-height : 30rem;
height : 95vh;
padding-top : 0;
background : #000;
top : 0;
margin-top : -60px;
float : none;
}
.hero--homepage .hero__carousel {
float : left;
}
.ie .hero--homepage .hero__carousel.slick-initialized .slick-track {
flex-shrink : 0;
}
.ie .hero--homepage .hero__slide {
min-height : 95vh;
}
.ios-oldie .hero--homepage .hero__carousel.slick-initialized .slick-track {
flex-basis : 0;
}
.ios-oldie .hero--homepage .hero__carousel.slick-initialized .slick-slide {
height : auto;
}
.ios-oldie .hero--homepage .hero__slide {
height : auto;
min-height : 100%;
}
.hero--homepage .chromeless-video {
height : 100%;
width : 100%;
}
.hero--homepage video {
object-fit : cover;
}
.hero--homepage video.left {
object-position : left;
}
.hero--homepage video.right {
object-position : right;
}
.hero--homepage .left video {
object-position : left;
}
.hero--homepage .right video {
object-position : right;
}
.hero--homepage .hero__full-width-link {
border-bottom : none;
display : block;
height : 100%;
left : -50vw;
margin-left : 50%;
max-width : none;
position : absolute;
top : 0;
width : 100vw;
z-index : 1;
}
.hero--homepage .hero__text-content {
border-bottom : none;
display : block;
z-index : 1;
}
.hero--homepage .hero__text-content:hover .hero__cta .icon-long-arrow-right {
left : 0.75rem;
}
.hero--homepage .hero__tag {
background : rgb(0, 0, 0, 0);
color : #fff;
font-size : 0.9375rem;
font-weight : 500;
margin-bottom : 1.5rem;
opacity : 0;
padding-bottom : 0;
position : relative;
top : 1.25rem;
transition : top 0.8s, opacity 0.8s;
}
.hero--homepage .hero__title {
background : rgb(0, 0, 0, 0);
color : #fff;
font-size : 2.375rem;
margin-bottom : 1.5rem;
padding-bottom : 0;
position : relative;
top : 1.25rem;
transition : top 0.8s, opacity 0.8s;
}
.hero--homepage .hero__cta {
color : #fff;
border-bottom : none;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 0.875rem;
font-weight : 500;
line-height : 1.44;
left : -10%;
opacity : 0;
position : relative;
text-transform : uppercase;
transition : left 0.5s, opacity 0.5s;
transition-delay : 0.6s;
}
.hero--homepage .hero__cta.no-text .icon-long-arrow-right {
margin-left : 0;
}
.hero--homepage .hero__cta .icon-long-arrow-right {
display : inline-block;
left : 0;
position : relative;
transition : left 0.5s;
}
.hero--homepage .hero__cta-text {
margin-right : 1rem;
display : inline;
}
.hero--homepage .hero__image {
height : 100%;
transform : scale(1);
transition : transform 6.5s;
transition-delay : 1.5s;
}
.hero--homepage .hero__slide-nav-item {
border-bottom : none;
color : #fff;
display : block;
font-family : "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
font-size : 0.9375rem;
font-weight : 500;
line-height : 1.44;
opacity : 0.5;
white-space : nowrap;
}
.hero--homepage .hero__slide-nav-item:hover {
opacity : 1;
}
.hero--homepage .hero__slide-nav-progress {
background-color : #c00;
display : block;
height : 5px;
margin-bottom : 1.5rem;
transition : width linear;
visibility : hidden;
width : 0;
}
.hero--homepage .hero__nav-container {
bottom : 0;
left : 0;
overflow : auto;
padding-bottom : 6rem;
position : absolute;
right : 0;
width : 100%;
}
.hero--homepage .hero__nav-container .slide-count-2 .slick-dots {
width : 50%;
}
.hero--homepage .hero__nav-container .slide-count-3 .slick-dots {
width : 75%;
}
.hero--homepage .hero__nav-container::-webkit-scrollbar {
display : none;
}
.hero--homepage .hero__nav-container > .column {
max-width : none;
min-width : 100%;
width : auto;
}
.hero--homepage .hero__nav-container .slick-dots {
margin : 0;
padding : 0;
list-style-type : none;
align-items : baseline;
display : flex;
flex-flow : row nowrap;
justify-content : space-between;
width : 100%;
}
.hero--homepage .hero__nav-container .slick-dots li, [dir="rtl"] .hero--homepage .hero__nav-container .slick-dots li {
padding : 0;
}
.hero--homepage .hero__nav-container .slick-dots li {
display : inline-block;
margin-right : 3.75rem;
}
.hero--homepage .hero__nav-container .slick-dots li.slick-active.transition-active .hero__slide-nav-item {
opacity : 1;
}
.hero--homepage .hero__nav-container .slick-dots li.slick-active.transition-active .hero__slide-nav-progress {
visibility : visible;
width : calc(100% + 1.5rem);
}
.hero--homepage .hero__nav-container .slick-dots li.no-progress.transition-active.slick-active .hero__slide-nav-progress {
width : calc(100% + 1.5rem);
}
.hero--homepage .hero__nav-container .slick-dots li.no-progress.transition-active .hero__slide-nav-progress {
transition-duration : 0.2s !important ;
width : 0;
}
.hero--homepage .hero__carousel.slick-initialized {
display : flex;
left : 0;
margin-left : 0;
min-height : 100%;
height : auto;
}
.hero--homepage .hero__carousel.slick-initialized .slick-list, .hero--homepage .hero__carousel.slick-initialized .slick-track, .hero--homepage .hero__carousel.slick-initialized .slick-slide {
display : flex;
min-height : 100%;
width : 100%;
}
.hero--homepage .hero__carousel.slick-initialized .slick-slide.slick-active.transition-active .hero__image {
transform : scale(1.07);
}
.hero--homepage .hero__carousel.slick-initialized .slick-slide.slick-active.transition-active .hero__slide {
display : flex !important ;
}
.hero--homepage .hero__carousel.slick-initialized .slick-slide.slick-active.transition-active .hero__tag {
opacity : 1;
top : 0;
}
.hero--homepage .hero__carousel.slick-initialized .slick-slide.slick-active.transition-active .hero__title {
opacity : 1;
top : 0;
}
.hero--homepage .hero__carousel.slick-initialized .slick-slide.slick-active.transition-active .hero__cta {
left : 0;
opacity : 1;
}
.hero--homepage .hero__carousel.slick-initialized .slick-slide > div {
background : linear-gradient(to top, rgb(0, 0, 0) 0, rgb(0, 0, 0, 0) 12.5rem);
display : flex;
min-height : 100%;
width : 100%;
}
.hero--homepage .hero__slide {
display : none;
flex-flow : column nowrap;
height : 100%;
justify-content : center;
padding-bottom : 10rem;
padding-top : 4.5rem;
position : relative;
}
.hero--profile-no-image.hero--profile {
padding-top : 4.5rem;
height : auto;
min-height : 16rem;
}
.hero__tag {
margin-bottom : 1rem;
}
.hero--featured-row-full .hero__title {
font-size : 2rem;
line-height : 1.44;
}
.hero--homepage {
min-height : 50rem;
margin-top : -128px;
height : 95vh;
}

.hero--homepage .hero__title {
font-size : 3.75rem;
}

